* {
  outline: 1px solid red;
}

body {
  font-size: 2rem;
}

main {
  max-width: 100vw;
  min-height: 80vh;

  justify-content: center;
  align-items: center;
  display: flex;
}

/* header */

#head__cadastro {
  height: 2rem;
  max-width: 100vw;
  padding: 0.8rem;
}

#head__h1__cadastro {
  position: absolute;
  top: 1rem;
  font-size: 2rem;
  left: 1rem;
  font-weight: 900;
}
/* fomr */

#cadastro {
  display: flex;
  align-items: center;
  flex-direction: column;

  gap: 16px;
}

#cadastro__label__email,
#cadastro__label__username,
#cadastro__label__professional_level,
#cadastro__label__password {
  min-width: 80%;
  font-size: 1.5rem;
}

/* input */

input {
  max-width: 13rem;
  padding: 0.5rem;
  min-width: 16rem;
}

/* button */
#cadastro__btn__cadastrar {
  min-width: 80px;
  padding: 0.5rem;
}
